*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "roboto";
}

header {
  background-color: #ffc017;
  border-bottom: 0.5px solid #191919;
  position: sticky;
  top: 0;
  z-index: 999;
}

.Menù {
  margin-inline: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menù img {
  width: 100px;
}

.Menù li {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}

.Menù ul li button {
  background-color: #191919;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  font-family: "roboto";
}
.containerColor {
  background-color: #ffc017;
  border-bottom: 0.5px solid #191919;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
}

.imgContainer {
  max-width: 100%;
  justify-content: end;
}

.textContainer {
  margin-top: 50px;
  max-width: 80%;
}

.textContainer h1 {
  font-family: "spectral";
  font-size: 80px;
  font-weight: 300;
}

.textContainer button {
  background-color: #191919;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 50px;
  font-family: "roboto";
  margin-top: 10px;
}

.textContainer p {
  margin-top: -60px;
}

.Medium {
  border-bottom: 0.5px solid #191919;
  padding-top: 50px;
  padding-bottom: 50px;
}

.articlesMedium {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: 20%;
  max-width: 100%;
  margin-top: 20px;
}

.article img {
  border-radius: 50%;
  width: auto;
  height: 30px;
  margin-right: 10px;
}

.article {
  display: flex;
  width: 32%;
  margin-right: 15px;
}

span {
  align-items: center;
  margin-right: 1rem;
  font-size: 30px;
  font-weight: bold;
  color: rgb(218, 214, 214);
}

.imgtext {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.imgtext p {
  font-size: 12px;
}

.data {
  color: black;
  font-size: 12px;
  color: rgb(154, 152, 152);
}

h2 {
  margin-left: 20%;
  display: inline-flex;
}

.articlesBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-top: 20px;
}

.ArticlesContent {
  flex-direction: column;
}
.ArticlesContent strong {
  font-size: 20px;
}
.ArticlesContent span {
  font-size: 10px;
  background-color: rgb(240, 239, 239);
  color: rgb(154, 152, 152);
  font-weight: normal;
  padding: 5px;
  border-radius: 50px;
}

.icon {
  display: flex;
  justify-content: flex-start;
}

.icon :last-child {
  margin-left: auto;
}

.bottom {
  width: 60%;
  padding-top: 60px;
}

.ArticlesContent img {
  border-radius: 50%;
  margin-right: 10px;
}

.foto {
  width: 50%;
  margin-left: 20px;
}

.contentBottom {
  display: flex;
  justify-content: space-around;
  margin-inline: 20%;
}

.selectRight {
  width: 30%;
  padding-top: 60px;
  position: sticky;
  top: 0;
}
.selectRight button {
  background-color: unset;
  border: 1px solid rgb(239, 239, 239);
  color: rgb(154, 152, 152);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.ContentselectRight1 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(154, 152, 152);
}

.selectRight ul li {
  display: inline-block;
  margin: 10px;
  color: rgb(154, 152, 152);
}
.selectRight ul {
  padding: unset;
}
