*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "roboto";
}

.Menù {
  background-color: #ffc017;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid #191919;
}

.Menù img {
  width: 100px;
}

.Menù li {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}

.Menù ul li button {
  background-color: #191919;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  font-family: "roboto";
}

.container {
  background-color: #ffc017;
  display: flex;
  justify-content: end;
  border-bottom: 0.5px solid #191919;
}

.container img {
  max-width: 100%;
  margin-right: 0;
}

.textContainer {
  margin-top: 50px;
}

.textContainer h1 {
  font-family: "spectral";
  font-size: 80px;
  font-weight: 300;
}

.textContainer button {
  background-color: #191919;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 50px;
  font-family: "roboto";
  margin-top: 10px;
}

.textContainer p {
  margin-top: -60px;
}

.articlesMedium {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.article img {
  border-radius: 50%;
  width: auto;
  height: 30px;
  margin-right: 10px;
}

.article {
  display: flex;
  width: 30%;
}

span {
  align-items: center;
  margin-right: 1rem;

  font-size: 30px;
  font-weight: bold;
  color: rgb(218, 214, 214);
}

.imgtext {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.imgtext p {
  font-size: 12px;
}

.data {
  color: black;
  font-size: 12px;
  color: rgb(154, 152, 152);
}
